<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.bfh.evoting.voterapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="ch.bfh.evoting.votinglib.AndroidApplication" >
        
        <activity
            android:name="ch.bfh.evoting.voterapp.VoterAppMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.bfh.evoting.voterapp.VoterAppMainActivity"/>
                 <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.bfh.evoting.voterapp.NetworkConfigActivity"
            android:label="@string/title_activity_network_config"
            android:parentActivityName="ch.bfh.evoting.voterapp.VoterAppMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.bfh.evoting.voterapp.VoterAppMainActivity" />
        </activity>

        <!-- VotingLib activities -->
        <activity
            android:name="ch.bfh.evoting.votinglib.ListTerminatedPollsActivity"
            android:label="@string/title_activity_list_terminated_polls" >
        </activity>
        <activity
            android:name="ch.bfh.evoting.votinglib.DisplayResultActivity"
            android:label="@string/title_activity_display_result" >
        </activity>
        <activity
            android:name="ch.bfh.evoting.votinglib.VoteActivity"
            android:label="@string/title_activity_vote" >
        </activity>
        <activity
            android:name="ch.bfh.evoting.votinglib.WaitForVotesActivity"
            android:label="@string/title_activity_wait_for_votes" >
        </activity>
        <activity
            android:name="ch.bfh.evoting.voterapp.CheckElectorateActivity"
            android:label="@string/title_activity_check_electorate" >
        </activity>
        <activity
            android:name="ch.bfh.evoting.voterapp.ReviewPollActivity"
            android:label="@string/title_activity_review_poll" >
        </activity>
    </application>

</manifest>